.event-page-body {
  display: grid;
  width: 80%;
  aspect-ratio: 1/1.3;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-bottom: 15%;
  margin-top: 5%;
}

.each-event-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-page-body .event-desc {
  -webkit-line-clamp: 10;
}

@media only screen and (max-width: 390px) {
  .event-page-body {
    width: 100%;
  }
  .event-page-body .event-desc {
    font-size: 15px;
    -webkit-line-clamp: 3;
  }
}
